@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.shadow-xl.p-2 {
  position: relative;
}

.overlay {
  position: absolute;
  opacity: 0;
  transition: .5s ease;
  background-color: #ffffff;
  top: 0px;
  width: 95%;
  height: 100%;
  margin: 0 auto;
  background-image: url('https://cdn-icons-png.flaticon.com/128/3039/3039386.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25%;
}

.shadow-xl.p-2:hover .overlay {
  opacity: .5;
}